body {
    font-family: Arial, sans-serif;
    width: 600px;
    border: 10px solid rgb(159,207,230);
    border-radius: 30px;
    padding: 20px;
}

table { 
    border-collapse: collapse;
    border:4px double black;
    width:100%
}

th,td {
    border:1px dotted gray;
    padding:10px;
}

th {
    background-color: rgb(159,207,230);
    font-style: italic;
}

h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#info {
    background-color:lightgray;
    padding: 10px;
}

.kozepre {
    text-align: center;
}

img {
    width: 400px;
}
